@page
@model TuneEsportIFv2.Pages.Scoreboard.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ScoreBoard</h4>
    <hr />
    <dl class="d-lg-table-row">
        <dt class="row">
            
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Identity)
            </dt>
            
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ScoreBoard.mapsName)
            </dt>
           

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ScoreBoard.Kills)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ScoreBoard.Kills)
            </dd>
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreBoard.Death)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoreBoard.Death)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreBoard.Assist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoreBoard.Assist)
        </dd>
        <dt class="col-sm-2">
            KDA
        </dt>
        <dd class="col-sm-10">
            KDA
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ScoreBoard.ScoreId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

@*<span>

    <table class="table">
        <thead>
        <ol style="list-style-type: none; display: inline-block;">
            <li>
                @Html.DisplayNameFor(model => model.ScoreBoard[0].)
            </li>
            <li>
                @Html.DisplayNameFor(model => model.Info[0].team)
            </li>
            <li>
                @Html.DisplayNameFor(model => model.Info[0].union)
            </li>
            <li>
                @Html.DisplayNameFor(model => model.Info[0].nick)
            </li>
        </ol>
        <th></th>

        </thead>


        <tbody>
        @foreach (var item in Model.Info)
        {
            <ol style="list-style-type: none; display: inline-block;">
                <li>
                    @Html.DisplayFor(modelItem => item.rank)
                </li>
                <li>
                    @Html.DisplayFor(modelItem => item.team)
                </li>
                <li>
                    @Html.DisplayFor(modelItem => item.union)
                </li>
                <li>
                    @Html.DisplayFor(modelItem => item.nick)
                </li>
                <td>
                    <a asp-page="/Infos/Edit" asp-route-id="@item.infoId">Edit</a> |
                </td>
            </ol>
        }
        </tbody>
    </table>
</span>*@