@page
@using TuneEsportIFv2.Areas.Identity.Data
@model TuneEsportIFv2.Pages.Games.IndexModel
@inject SignInManager<TuneEsportIfv2User> SignInManager
@inject UserManager<TuneEsportIfv2User> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>
@{
    foreach (var item1 in Model.RoleList)
    {
        if (item1.RoleName == "Admin" && item1.UserName == UserManager.GetUserName(User) || item1.RoleName == "Super admin" && item1.UserName == UserManager.GetUserName(User))
        {
            <p>
                <a asp-page="Create">Create New</a>
            </p>
        }
    }
}
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].gameName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Game)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.gameName)
                </td>
            @{
                foreach (var item1 in Model.RoleList)
                {
                    if (item1.RoleName == "Admin" && item1.UserName == UserManager.GetUserName(User) || item1.RoleName == "Super admin" && item1.UserName == UserManager.GetUserName(User))
                    {
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.gameID">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.gameID">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.gameID">Delete</a>
                        </td>
                    }
                }
            }
                </tr>
        }
    </tbody>
</table>
