@page
@inject SignInManager<TuneEsportIfv2User> signInManager
@inject UserManager<TuneEsportIfv2User> userManager
@using TuneEsportIFv2.Areas.Identity.Data
@using System.Security.Cryptography.X509Certificates
@using Microsoft.CodeAnalysis.Differencing
@model TuneEsportIFv2.Areas.Identity.Pages.Profiles.IndexModel
@{
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap 4 Website Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
</head>


<form id="profile-form" method="post" enctype="multipart/form-data">
<div class="row">
<div class="col-md-6">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" disabled="disabled"/>
        <span asp-validation-for="Username" class="text-danger" ></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Rank"></label>
        <input asp-for="Input.Rank" class="form-control" />
        <span asp-validation-for="Input.Rank" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Team"></label>
        <input asp-for="Input.Team" class="form-control" />
        <span asp-validation-for="Input.Team" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Union"></label>
        <input asp-for="Input.Union" class="form-control" />
        <span asp-validation-for="Input.Union" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Nick"></label>
        <input asp-for="Input.Nick" class="form-control" />
        <span asp-validation-for="Input.Nick" class="text-danger"></span>
    </div>
    <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
</div>
</div>
</form>



@*::::::::::::ProfilBillede::::::::::::*@
    @*<div class="container" style="margin-top:30px">
        <div class="row">
            <div> </div>
            <div class="col-sm-4">
                <h2>About Me</h2>
                <h5>Photo of me:</h5>
                <div> <img class="img.fluid" style="width: 100%; height:auto;" src="/Pictures/Shortversion.jpg"></div>
                <h3>INFO</h3>
                <p>Lorem ipsum dolor sit ame.</p>
            </div>*@
            @*::::::::::::INFO VIEW og Rediger::::::::::::*@

            
<table class="table">
    <thead>
    <tr>
        <th>
            Navn
        </th>
        <th>
            Team
        </th>
        <th>
            Nick
        </th>
        <th>
            Rank
        </th>
        <th>
            Union
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in userManager.Users)
    {
        {
            <tr>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.Team
                </td>
                <td>
                    @item.Nick
                </td>
                <td>
                    @item.Rank
                </td>
                <td>
                    @item.Union
                </td>
 
 
            </tr>
        }
    }
    </tbody>
 
</table>
    

                       



    



                   
         

    <div table class="col-sm-8">

                <h5>Beskrivelse</h5>


        <p>
            <tbody>

            @foreach (var item in userManager.Users)
            {
                <ol style="list-style-type: none; display: inline-block;">
                    <li>
                        @Html.DisplayFor(modelItem => item.Description)
                    </li>
                </ol>

            }
            </tbody>
        </p>
    </div>
        

        @*::::::::::::TræningsStatistik::::::::::::*@

        <html>
            <body>

                <button onclick="document.location='/scoreboard/index'">Rediger TræningStatistik</button>

            </body>
    
        </html>


<table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ScoreBoard[0].maps.mapsName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ScoreBoard[0].mapKnowledge)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ScoreBoard[0].Smokes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ScoreBoard[0].EconomyKnowledge)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ScoreBoard[0].Tactics)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>

            <div class="row">
                <div class="col-4">
                    <div class="list-group" id="list-tab" role="tablist">
                        @foreach (var item in Model.Games)
                        {
                            <a class="list-group-item list-group-item-action" id="@Html.DisplayFor(modelItem => item.gameName)" data-toggle="list" href="#list-home" role="tab" aria-controls="@Html.DisplayFor(modelItem => item.gameName)">@Html.DisplayFor(modelItem => item.gameName)</a>
                        }

                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    @foreach (var item in Model.ScoreBoard)
                    {
                        <div class="tab-pane fade" id="@Html.DisplayFor(modelItem => item.games.gameName)" role="tabpanel" aria-labelledby="@Html.DisplayFor(modelItem => item.games.gameName)">

                            @if (item.TuneEsportIfv2User == userManager.GetUserId(User))
                            {
                                <tr>
                                    <th>
                                        @Html.DisplayFor(modelItem => item.maps.mapsName)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.mapKnowledge)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Smokes)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EconomyKnowledge)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tactics)
                                    </td>

                                </tr>
                            }
                        </div>
                    }
                </div>
            </div>
            