@page
@inject SignInManager<TuneEsportIfv2User> signInManager
@inject UserManager<TuneEsportIfv2User> userManager
@using TuneEsportIFv2.Areas.Identity.Data
@using System.Security.Cryptography.X509Certificates
@using Microsoft.AspNetCore.Identity.UI.V4.Pages.Account.Internal
@using Microsoft.CodeAnalysis.Differencing
@model TuneEsportIFv2.Areas.Identity.Pages.Profiles.IndexModel
@{
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap 4 Website Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
</head>



@*::::::::::::ProfilBillede::::::::::::*@


<div class="container" style="margin-top:30px">
    <div class="row">
        <div> </div>
        <div class="col-sm-4">
            <div> <img class="img.fluid" style="width: 100%; height:auto;" src="/Pictures/Tuneifesport.jpg"></div>
        </div>
    </div>
</div>





@*::::::::::::INFO VIEW og Rediger::::::::::::*@

<html>
<body>

<button onclick="document.location='/Medlemsinfo/EditProfile'">Rediger Medlemsinfo</button>

</body>
</html>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => Model.Username)

            </th>
            <th>
                @Html.DisplayNameFor(modelItem => Model.Input.Team)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => Model.Input.Nick)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => Model.Input.Rank)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => Model.Input.ClubName)
            </th>
        </tr>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                @foreach (var item in userManager.Users)
                {
                    @if (item.Id == userManager.GetUserId(User))
                    {
                        <tr>
                            <th>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.Team)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nick)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rank)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClubName)
                            </td>

                        </tr>
                    }
                }

            </div>
        </div>
</table>


<tbody>
</tbody>


<div>
    <p>
        <tbody>
            @foreach (var item in userManager.Users)
            {
                <ol style="list-style-type: none; display: inline-block;">
                    <li>
                        @Html.DisplayFor(modelItem => item.Description)
                    </li>
                </ol>
}
        </tbody>
    </p>
    <br>
</div>

@*::::::::::::KDA::::::::::::*@

<html>
<body>

    <button onclick="document.location='/scoreboard/data'">Opret KDA</button>

</body>
</html>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ScoreBoard[0].mapsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScoreBoard[0].Kills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScoreBoard[0].Death)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScoreBoard[0].Assist)
            </th>
            <th>
                KDA
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
    
    

    <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    @foreach (var item in Model.Games)
                    {
                        <a class="list-group-item list-group-item-action" id="@Html.DisplayFor(modelItem => item.gameName)" data-toggle="list" href="#list-home" role="tab" aria-controls="@Html.DisplayFor(modelItem => item.gameName)">@Html.DisplayFor(modelItem => item.gameName)</a>
                    }

                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                @foreach (var item in Model.ScoreBoard)
                {
                    <div class="tab-pane fade" id="@Html.DisplayFor(modelItem => item.games.gameName)" role="tabpanel" aria-labelledby="@Html.DisplayFor(modelItem => item.games.gameName)">

                        @if (item.TuneEsportIfv2User == userManager.GetUserId(User))
                        {
                            <tr>
                                <th>
                                    @Html.DisplayFor(modelItem => item.mapsName)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Kills)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Death)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Assist)
                                </td>
                                <td>
                                    @{
                                        double Calculation;
                                    }
                                    @(Calculation = (item.Kills / item.Death))
                                </td>

                            </tr>
                        }
                    </div>
                }

            </div>
        </div>
</table>

<html>
<body>

<button onclick="document.location='/scoreboard/index'">Opret TræningsStatistik </button>

</body>
</html>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainingStats[0].mapsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingStats[0].EconomyKnowledge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingStats[0].Smokes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingStats[0].Tactics)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingStats[0].mapKnowledge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingStats[0].Date)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    @foreach (var item in Model.Games)
                    {
                        <a class="list-group-item list-group-item-action" id="@Html.DisplayFor(modelItem => item.gameName)" data-toggle="list" href="#list-home" role="tab" aria-controls="@Html.DisplayFor(modelItem => item.gameName)">@Html.DisplayFor(modelItem => item.gameName)</a>
                    }

                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                @foreach (var item in Model.TrainingStats)
                {
                    <div class="tab-pane fade" id="@Html.DisplayFor(modelItem => item.games.gameName)" role="tabpanel" aria-labelledby="@Html.DisplayFor(modelItem => item.games.gameName)">

                        @if (item.TuneEsportIfv2User == userManager.GetUserId(User))
                        {
                            <tr>
                                <th>
                                    @Html.DisplayFor(modelItem => item.mapsName)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EconomyKnowledge)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Smokes)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tactics)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.mapKnowledge)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>

                            </tr>
                        }
                    </div>
                }
                
                


            </div>
        </div>
</table>




