@page
@inject SignInManager<TuneEsportIfv2User> signInManager
@inject UserManager<TuneEsportIfv2User> userManager
@using TuneEsportIFv2.Areas.Identity.Data
@using System.Security.Cryptography.X509Certificates
@using Microsoft.AspNetCore.Identity.UI.V4.Pages.Account.Internal
@using Microsoft.CodeAnalysis.Differencing
@model TuneEsportIFv2.Areas.Identity.Pages.Profiles.IndexModel
@*@model TuneEsportIFv2.Pages.Top10Model*@
@{
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ScoreBoard[0].FullName)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScoreBoard[0].Kills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScoreBoard[0].Death)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScoreBoard[0].Assist)
            </th>
            <th>
                K/D
            </th>
        </tr>
    </thead>
    <tbody>


        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
    

                    @foreach (var item in Model.ScoreBoard)
                    {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Kills)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Death)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Assist)
                        </td>
                        <td>
                            @{
                                double Calculation;
                            }
                            @(Calculation = (item.Kills + item.Assist / item.Death))
                        </td>

                    </tr>
                    }
                
            </div>
        </div>
</table>
